<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Third page</title>
</head>
<body>
    <center>
        <h1>This page is belongs to third html page content</h1>
        <a href="{% url 'app2:four' %}">navigates to app2 four</a><br>
        <a href="{% url 'app1:first' %}">navigates to app1 first</a><br>
        <a href="{% url 'app1:second' %}">navigates to app1 second</a><br>
    </center>
</body>
</html>